[submodule "papi"]
	path = papi
	url = https://bitbucket.org/icl/papi.git
[submodule "lib/xxHash"]
	path = lib/xxHash
	url = https://github.com/Cyan4973/xxHash.git
[submodule "lib/fnv"]
	path = lib/fnv
	url = https://github.com/haipome/fnv.git
[submodule "lib/wyhash"]
	path = lib/wyhash
	url = https://github.com/wangyi-fudan/wyhash.git
[submodule "lib/cityhash"]
	path = lib/cityhash
	url = https://github.com/google/cityhash.git
[submodule "lib/readfq"]
	path = lib/readfq
	url = https://github.com/lh3/readfq.git
[submodule "plog"]
	path = lib/plog
	url = https://github.com/SergiusTheBest/plog.git
