[submodule "papi"]
	path = papi
	url = https://bitbucket.org/icl/papi.git
[submodule "lib/xxHash"]
	path = lib/xxHash
	url = https://github.com/Cyan4973/xxHash.git
[submodule "lib/fnv"]
	path = lib/fnv
	url = https://github.com/haipome/fnv.git
[submodule "lib/wyhash"]
	path = lib/wyhash
	url = https://github.com/wangyi-fudan/wyhash.git
[submodule "lib/cityhash"]
	path = lib/cityhash
	url = https://github.com/mars-research/cityhash.git
[submodule "plog"]
	path = lib/plog
	url = https://github.com/SergiusTheBest/plog.git
[submodule "lib/eth_hashjoin"]
	path = lib/eth_hashjoin
	url = https://github.com/mars-research/vldb13-eth-hashjoin.git
[submodule "perf-cpp"]
	path = perf-cpp
	url = https://github.com/jmuehlig/perf-cpp.git
[submodule "pcm"]
	path = pcm
	url = https://github.com/intel/pcm.git
[submodule "tools/msr-safe"]
	path = tools/msr-safe
	url = https://github.com/mars-research/msr-safe-ubuntu24.git
[submodule "growt"]
	path = growt
	url = https://github.com/mars-research/growt-folk.git