*.swp
build/
out/
*.o
*.d
kmercounter
*.log
/tests/
**/*.d
kvstore
/build/
/.vscode/
result
.papi/
*.fastq
*.zip
*.gz
*.tar
.direnv/
*.tbl
tpch-dbgen/
perf.data
perf.data.*
Testing/
*.histo
*.jf
*.jpg
*.data
*.png
*.pyc
*.patch
latencies/
