name: Build and Test
on:
  pull_request:
  push:
jobs:
  build_and_test:
    name: Build and test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.0.2
        with:
          submodules: 'recursive'
      - uses: cachix/install-nix-action@v18
        with:
          # install_url: https://releases.nixos.org/nix/nix-2.4/install
          extra_nix_config: |
            experimental-features = nix-command flakes
      - run: nix develop .#build --command cmake -S . -B build -DBUILD_TESTING=ON -DBUILD_EXAMPLE=ON -DBRANCH=branched
      - run: nix develop .#build --command cmake --build ./build
      - run: nix develop .#build --command ctest -V --test-dir build
